/**/*.o
src/.idea/
src/CMakeLists.txt
src/cmake-build-debug/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
examples/Makefile
examples/Makefile.in
libtool
m4/
man/Makefile
man/Makefile.in
src/.deps/
src/.libs/
src/FreeMine
src/Makefile
src/Makefile.in
src/headers/FreeMine_config.h
src/headers/FreeMine_config.h.in
src/headers/stamp-h1
src/libfreemine_main.la
src/libs/.deps/
src/libs/.dirstamp
src/libs/libfreemine_main_la-draw.lo
src/libs/libfreemine_main_la-help_routines.lo
src/libs/libfreemine_main_la-lead.lo
src/libs/libfreemine_main_la-menu.lo
src/libs/libfreemine_main_la-mines.lo